<div class="p-5 mb-4 bg-dark text-light rounded-3 border border-1 border-light">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">欢迎来到 P2441M 的个人博客！</h1>
        <p class="lead">
            本人是一个小小程序猿、柯南迷、生米，在这里发一些博客做笔记或者供大家参考。
            <b>在这里领略<span class="text-warning">数学和信息</span>的魅力吧！</b>:-)
        </p>
    </div>
</div>

<div class="p-3 m-2 bg-gradient border border-1 border-black">
    <span>
        <img src="<%- url_for('/images/logo.png') %>" width="64" height="64"
             class="d-inline-block border border-0 rounded-circle align-middle"/>
        <span class="fs-3 text-info fw-bold" style="font-family: 华文新魏">P2441M 的文章</span>
    </span>
    <%- partial('/_partial/archive.ejs') %>
</div>

<div class="btn-group m-2">
    <%- paginator({
        prev_text: '<i class="bi-caret-left-fill"></i>',
        next_text: '<i class="bi-caret-right-fill"></i>',
        escape: false,
        page_class: "btn btn-primary",
        current_class: "btn btn-primary active"
    }) %>
</div>